<div>
  <nav class="navbar navbar-expand navbar-dark bg-secondary navstyles">
    
    <div> 
      <a href="/" class="navbar-brand">MGF</a>
    </div>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="contacts" class="nav-link">Contacts</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add Contact</a>
      </li>
      <li class="nav-item">
        <a routerLink="report" class="nav-link">Report</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
