<div class="mt-4">
  <h2 [ngStyle]="{'text-align': 'center'}">View Contacts </h2>

  
  <app-filter-table (columnChanged)="changeColumn($event)" (filterChanged)="applyFilter($event)"></app-filter-table>


  <!-- displaying contacts -->
  <table class="table table-striped">
    <thead>
      <tr>

        <!-- column titles with click to sort abilities  -->
        <th scope="col" (click)="sortTable('id')"> 
          ID 
          <app-sort-icon [active]="sortBy === 'id'" [direction]="sortDirection"></app-sort-icon>
        </th>
        <th scope="col" (click)="sortTable('fullname')">
          Fullname 
          <app-sort-icon [active]="sortBy === 'fullname'" [direction]="sortDirection"></app-sort-icon>
        </th>
        <th scope="col" (click)="sortTable('email')">
          Email
          <app-sort-icon [active]="sortBy === 'email'" [direction]="sortDirection"></app-sort-icon>
        </th>
        <th scope="col" (click)="sortTable('company')">
          Company Name 
          <app-sort-icon [active]="sortBy === 'company'" [direction]="sortDirection"></app-sort-icon>
        </th>

        <th scope="col" (click)="sortTable('companypost')">
          Company Postcode 
          <app-sort-icon [active]="sortBy === 'companypost'" [direction]="sortDirection"></app-sort-icon>
        </th>

        <th scope="col" >
          Actions
        </th>
        <!-- <th scope="col">
          Details
        </th> -->

      </tr>
    </thead>
    <tbody>
      <!-- column data  -->
      <tr *ngFor="let contact of contacts">
        <th>{{ contact.id }}</th>
        <td>{{ contact.firstname }} {{ contact.lastname }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact.company?.name }}</td>
        <td>{{ contact.company?.postcode }}</td>
        <td style="display: flex;" class="actionBtns">
          <div class="m-1"><button class="btn" type="button" (click)="viewContact(contact.id)">View/Edit</button></div>
          <div class="m-1"><button class="btn" type="button" (click)="deleteContact(contact.id)">Delete</button></div>
        </td>
        <!-- <td><a routerLink="./{{contact.id}}"> View More</a></td> -->
      </tr>
    </tbody>
  </table>

  <!-- pagination -->
  <div class="col-md-12 mt-4"> 
  <nav aria-label="...">
    <ul class="pagination">
      <li (click)="goToPage(currentPage - 1)" class="page-item" [class.disabled]="currentPage <= 1">
        <span class="page-link">Previous</span>
      </li>
      <li *ngFor="let page of totalPagesArray()" (click)="goToPage(page)" class="page-item" [class.active]="currentPage == page"><a class="page-link" href="javascript:void(0);">
        {{page}}
      </a></li>
      
      <li class="page-item">
        <a class="page-link" href="javascript:void(0);" (click)="goToPage(currentPage + 1)" >Next</a>
      </li>
    </ul>
  </nav>
  </div>
  
</div>
