table {
    /* max-width: 1200px; */
    margin: auto;
    margin-top : 30px ; 
}

.table-striped > thead > tr:first-child  {
    cursor: pointer;
    
}

.actionBtns div > button {
    background-color: rgb(92, 92, 208) ;
    color : white 
}

.actionBtns div:last-child > button {
    background-color: rgb(195, 76, 76);
}
